<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Register</mat-toolbar>
    <form
      #registerForm="ngForm"
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="register-form"
      (ngSubmit)="register()"
    >
      <mat-form-field>
        <input
          matInput
          name="username"
          placeholder="Username"
          required
          [(ngModel)]="model.username"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          name="password"
          placeholder="Password"
          required
          [(ngModel)]="model.password"
        />
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent" class="v-space">
        Register
      </button>
      <button mat-raised-button type="button" (click)="cancel()">
        Cancel
      </button>

      <p class="auth-link">Have an account? <a>Sign In</a></p>
    </form>
  </mat-card>
</div>
